<!-- contact -->
<div class="row">
    <div class="col-lg-12 text-center">
        <h2>{{sections.contact.title}}</h2>
        <hr class="star-primary">
    </div>
</div>
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>
            <strong>{{sections.contact.content.name}}</strong><br/>
            {{sections.contact.content.phone}}<br/>
            <a href="mailto:{{sections.contact.content.mail}}">{{sections.contact.content.mail}}</a><br/>
            {{sections.contact.content.address}}<br/>
            {{sections.contact.content.zipcode}} {{sections.contact.content.city}}<br/>
        </p>
    </div>
</div>
